<?xml version="1.0" encoding="Windows-1252"?>
<?define Version = "!(bind.fileVersion._4MagicKeysPlusSYS)" ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:difx='http://schemas.microsoft.com/wix/DifxAppExtension'
     xmlns:iis='http://schemas.microsoft.com/wix/IIsExtension'>

  <Product Name='4MagicKeys+ $(var.Version)' Id='FF0F05EE-71DE-4377-ABAF-8941B725FD2E' Language='1033' Codepage='1252'
           Version='$(var.Version)' Manufacturer='George Samartzidis' UpgradeCode='74831B05-4207-49C5-94FF-33E824FA1845'>

    <Package Id='*' Keywords='4MagicKeys+' Description='4MagicKeys+ Setup' InstallPrivileges='elevated'
             Comments='Installs 4MagicKeys+' Manufacturer='George Samartzidis' InstallerVersion='200' Languages='1033'
             Compressed='yes' SummaryCodepage='1252' />

    <Icon Id="icon.ico" SourceFile="icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <Binary Id="MyCertBinaryStream" SourceFile="$(var.SolutionDir)\4MagicKeysPlus\4MagicKeysPlus.cer" />

    <Media Id='1' Cabinet='4MagicKeysPlusInstaller.cab' EmbedCab='yes' DiskPrompt='4MagicKeys+ Media' />

    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
    <Property Id='DiskPrompt' Value='4MagicKeys+ Install Media' />
    <Property Id="SYSTEMSTARTOPTIONS">
      <RegistrySearch Id="SystemStartOptions" Root="HKLM" Key="SYSTEM\CurrentControlSet\Control" Name="SystemStartOptions" Type="raw" />
    </Property>

    <Condition Message="64-bit Windows 7 or higher is required."><![CDATA[Installed OR VersionNT64 >= 601]]></Condition>

    <Condition Message="TESTSIGNING must be enabled for using 4MagicKeys+. Please check the GitHub project page for further instructions.">
      <![CDATA[Installed OR (SYSTEMSTARTOPTIONS >< "TESTSIGNING")]]>
    </Condition>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='DriversFolder'>
          <Directory Id='_4MagicKeysPlusAppDrivers' Name='Drivers'>
            <Directory Id='_4MagicKeysPlusDir' Name='4MagicKeysPlus'>
              <Component Id='_4MagicKeysPlusDriver' Guid='03979D55-7A2A-44C3-B5DB-D0EBDCE36B38'>
                <iis:Certificate Id="Certificate.RootCA" Name="4MagicKeysPlus.cer" Request="no" StoreLocation="localMachine" StoreName="root" Overwrite="yes" BinaryKey="MyCertBinaryStream"/>
                <File Id='_4MagicKeysPlusSYS' Name='4MagicKeysPlus.sys' DiskId='1' Source='$(var.SolutionDir)\$(var.Platform)\$(var.Configuration)\4MagicKeysPlus\4MagicKeysPlus.sys' KeyPath='yes' />
                <File Id='_4MagicKeysPlusINF' Name='4MagicKeysPlus.inf' DiskId='1' Source='$(var.SolutionDir)\$(var.Platform)\$(var.Configuration)\4MagicKeysPlus\4MagicKeysPlus.inf' />
                <File Id='_4MagicKeysPlusCAT' Name='4MagicKeysPlus.cat' DiskId='1' Source='$(var.SolutionDir)\$(var.Platform)\$(var.Configuration)\4MagicKeysPlus\4MagicKeysPlus.cat' />
                <difx:Driver AddRemovePrograms="no" Legacy='no' DeleteFiles='yes' />
              </Component>
            </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='_4MagicKeysPlusDriver' />
    </Feature>

    <UIRef Id="WixUI_Minimal" />

  </Product>
</Wix>

